pip install wikipedia-api
pip install tweepy
pip install beautifulsoup4
pip install google
pip install pyspellchecker
pip install pyufbr
pip install Flask
pip install newsapi-python
pip install spacy
python -m spacy download pt
pip install googletrans
python -m pip install --upgrade pandas
python -m pip install -U matplotlib
pip install sklearn
pip install xlwt
pip install --user -U nltk
pip install tldextract
pip install lxml
pip install seaborn
pip install xlrd